.detail-main {
  display: flex;
  width: 90%;
  padding: 0px 0px;
  margin: 0px auto;
  margin-top: 0.5rem;
}

detail-main > * {
  flex: 1;
  margin-bottom: 20px;
}

.button-detail-div {
  display: flex;
  width: 90%;
  margin: 0px auto;
  margin-top: 20px;
}
